.border-0{
    border: 0;
}

.dropdown.bootstrap-select{
    width: 100%!important;
}

.colored-toast.swal2-icon-success {
    background-color: var(--success) !important;
}

.colored-toast.swal2-icon-error {
    background-color: var(--danger) !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

/* START: Custom Control Status */
.custom-control-status-1::after {
    content: "Off";
    color: var(--danger);
    font-weight: bold;
}

.custom-control-input:checked ~ .custom-control-status-1::after {
    content: "Aktif";
    color: var(--primary);
}

.custom-control-status-2::after {
    content: "Off";
    color: var(--primary);
    font-weight: bold;
}

.custom-control-input:checked ~ .custom-control-status-2::after {
    content: "Aktif";
    color: var(--danger);
}
/* END: Custom Control Status */

.c-filter-1{
    display: inline-block;
    height: 2em;
    width: calc(100% - 2.4em);
}

.c-filter-btn-1{
    width: 2em;
    float: right;
    height: 2em;
}

.yadcf-filter-wrapper{
    padding-top: 8px;
}

td.day{
    position:relative;  
}

td.day.disabled:hover:before {
    content: 'Tanggal non aktif';
    color: red;
    background-color: white;
    top: -22px;
    position: absolute;
    width: 136px;
    left: -34px;
    z-index: 1000;
    text-align: center;
    padding: 2px;
}

td.day.disabled{
    background-color: rgb(212, 212, 212)!important;
    border-radius: 0!important;
}

.bootstrap-tagsinput .tag{
    font-size: 12px;
    background: var(--primary);
    padding: 6.5px 9px;
    position: relative;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    top: unset;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    cursor: pointer;
    position: absolute;
    /* top: 3px; */
    right: 4px;
    opacity: 0;
}

.bootstrap-tagsinput .tag:hover [data-role="remove"]{
    opacity: 1;
}

.bootstrap-tagsinput .tag, .bootstrap-tagsinput [data-role="remove"]{
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;   
    transition: all 150ms ease 0s;
}

.bootstrap-tagsinput .tag:hover {
    padding-right: 20px;
}

.bootstrap-tagsinput{
    padding: 0px;
    border: 0;
}

/** Font Size  **/

.fs-20{
    font-size: 20px;
}

.o-f-edelivery:before {
    content: url('../img/edelivery.ico');
}

/** END of Font Size  **/

.border-1-gray-1{
    border: 1px solid #cdcbcb!important;
}

.scale-1-5{
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
}

.auto-hover .dropdown-menu{
    position: absolute;
    top: 98%;
    left: 5px;
    will-change: transform;
}

.auto-hover.dropdown:hover>.dropdown-menu {
    display: block;
    position: absolute;
}

.c-dropdown-right > .dropdown-menu{
    transform: unset!important;
    left: 100%!important;
    top: -1px!important;
}